SERVICE_NAME=auth-service
HTTP_PORT=8081
LOG_LEVEL=info
REQUEST_TIMEOUT_SECONDS=10
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=auth_db
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

## Security settings
JWT_SECRET=perhaps_a_long_random_string_here_for_security_purposes
JWT_ISSUER=auth-service
JWT_ACCESS_TTL=15
JWT_REFRESH_TTL=10080

BCRYPT_COST=12